* {
  &::selection {
    background: $main-color-1;
    color: $background-color-1;
  }
  @include hide-scroll;
}

body {
  background: $background-color-1;
  color: $main-color-1;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $system-stack;
  @include screen-size('small') {}
}

a {
  color: $main-color-1;
  text-decoration: none;
  &:visited {
    color: $main-color-1;
  }
  &:hover {
    color: $main-color-1;
  }
  &:active {
    color: $main-color-1;
  }
}

p {
  white-space: pre-wrap;
  width: 100%;
  padding: 0 25%;
  margin: auto;
  @include screen-size(small) {
    width: 100%;
    padding: 0 2%;
    font-size: 1.3 * $font-size; 
    line-height: 1.3 * $line-height;
  }
}

h1, h2 {
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;
  overflow-x: scroll;
  max-width: 4000px;
  margin: 0;
}

h1 {
  font-size: 12 * $font-size;
  line-height: 12 * $line-height;
}

h2 {
  font-size: 24 * $font-size;
  line-height: 8 * $line-height;
  color: $background-color-1;
  background: $main-color-1;
}

.dragscroll {
  cursor: grab;
}